  <!--========================== ADD RUBRIC FORM ==========================-->

  <div class="row" ng-controller="addrubricCtrl">
    <div class="section no-pad-bot" id="index-banner" >
        <div class="container">
            <h1 class="header center cyan-text proheader">((degree))</h1>
              <div class="row center">
            <h5 class="header col s12 light betterbanner">((course))</h5>
           </div>
        </div>
    </div>


    <div class="col s12 m12">
      <div class="card white">
        <div class="card-content black-text">
        
        <div class="row">
          <form class="col s12">
            <div class="row center note">
             <i class="noteadd large material-icons">note_add</i>
            </div>
            <div class="row center">
              <h5 class="header center cyan-text">Add Rubric</h5>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="rubricName" type="text" class="validate" ng-model="rubric.title">
                <label for="rubricName">Rubric Name</label>
              </div>
              <div class="input-field col s12">
                <input id="sectionTitle" type="text" class="validate" ng-model="rubric.sections">
                <label for="sectionTitle">Section Title</label>
              </div>
              <div class="input-field col s12">
                <input id="gradeOptions" type="text" class="validate" ng-model="rubric.gradeOptions">
                <label for="gradeOptions">Grade Options</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light right" ng-click="insertRubric()">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>

        </div>
      </div>
    </div>
  </div>