<!-- breadcrumbs elements -->
  <div class="row">
    <ul class="ab-nav breadcrumb" style="list-style-type:none">
        <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="(( active: $last ))">
        <a ng-if="!$last" ng-href="#(( breadcrumb.path ))" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
        <span ng-if="$last" ng-bind="breadcrumb.label"></span>
      </li>
    </ul>


    <div class="col s12 m12">
      <div class="card white">
        <div class="card-content black-text">
        <div class="row">
          <span class="card-title black-text">Add a course</span>
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="courseName" type="text" class="validate">
                <label for="courseName">Course Name</label>
              </div>
              <div class="input-field col s12">
                <input id="courseCode" type="text" class="validate">
                <label for="courseCode">Course Code</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light right" type="submit" name="submit">Submit
              <i class="material-icons right">send</i>
            </button>
            <a class="waves-effect waves-light btn one" href="/rubric">Add rubric</a>
          </form>
        </div>

        </div>
        <!-- <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div> -->
      </div>
    </div>
  </div>
