        
        <div class="row center">
          <h5 class="header col s12 light betterbanner"><a class="waves-effect waves-light btn left" href="/#/degree/((rubric.degreeAbbr))/((rubric.courseAbbr))/((rubric.title))/audit">&lt; Back to Audit</a>((rubric.degreeAbbr)) / ((rubric.courseAbbr)) / ((rubric.title))</h5>
        </div>
        <div class="row">
        <a class="waves-effect waves-light btn right">Delete Rubric</a>
        </div>
	    <div class="input-field col s4 m4">
        <input id="gradeOptions" type="text" class="validate" ng-model="rubric.gradeOptions">
        <label for="gradeOptions">Grade Options</label>
      </div>
    <div class="row" ng-repeat="section in rubric.sections">
	    <div class=" col s12 m14 cyan darken-3">
		    <div class="input-field col s12">
                <input id="sectionTitle" type="text" class="validate" ng-model="section.title">
                <label for="sectionTitle">Section Title</label>
              </div> <!-- <p>18 of 34 pts</p> -->
	    </div>
    </div>
  <div class="row">
    <div class="col s12 m12">
      <div class="card blue-grey lighten-4">
        <div class="card-content black-text">
       <!--  this is a commment for a latest push -->
        <div class="row center">
          <span class="card-title White-text">Item Name</span>
          <form class="col s12">
            <div class="row">
             
              <div class="input-field col s12">
                <input id="sectionTitle" type="text" class="validate">
                <label for="sectionTitle">Section Title</label>
              </div>
              <div class="input-field col s12">
                <input id="gradeOptions" type="text" class="validate">
                <label for="gradeOptions">Grade Options</label>
              </div>
              <div class="input-field col s12">
                <input id="gradeOptions" type="text" class="validate">
                <label for="gradeOptions">Description</label>
              </div>
            </div> 
          </form>
        </div>
        <div class="row">
                <a class="waves-effect waves-light btn right">100</a>
                <a class="waves-effect waves-light btn right">70</a>
                <a class="waves-effect waves-light btn right">40</a>
                <a class="waves-effect waves-light btn right">20</a>
                <a class="waves-effect waves-light btn right">0</a>
             </div> 
        </div>
        <div class="row white-text">
              <a class="comment lime-text text-darken-2 btn-flat right">Add Comment</a>
        </div>
      </div>
  <div class="row">
  <button class="btn waves-effect waves-light right" ng-click="updateRubric()">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>
 