
<!--  FAB floating action button -->
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large orange">
        <i class="large material-icons">more_vert</i>
      </a>
      <ul>
        <li><a class="btn-floating orange darken-4" href="/#/degree/((rubric.degreeAbbr))/((rubric.courseAbbr))/((rubric.title))/audit"><i class="material-icons">arrow_back</i></a></li>
        <li><a class="btn-floating  orange darken-3"><i class="material-icons">delete</i></i></a></li>
        <li><a class="btn-floating orange darken-2" href="/#/degree/((rubric.degreeAbbr))/((rubric.courseAbbr))/((rubric.title))/audit/editMode"><i class="material-icons">mode_edit</i></a></li>
      </ul>
    </div>

    <div class="row center">
      <h1 class="center cyan-text"><a class="cyan-text" href="/#/degree/((rubric.degreeAbbr))">((rubric.degreeAbbr))</a></h1>
      <h3 class="center cyan-text"><a class="cyan-text" href="#">((rubric.courseAbbr))</a></h3>
      <h5 class="header col s12 light cyan-text betterbanner">((rubric.title))</h5>


  <div class="input-field col s4 m4">
    <input id="gradeOptions" type="text" ng-model="rubric.gradeOptions">
    <label class="active" for="gradeOptions">Grade Options</label>
  </div>
<div class="row" ng-repeat="section in rubric.sections">
  <div class=" col s12 m14 cyan darken-3">
    <div class="input-field col s12 m2">
      <input id="sectionWeight" type="text" ng-model="section.weight">
      <label class="active white-text" for="sectionWeight">weight</label>
    </div>
    <div class="input-field col s12 m6">
      <input id="sectionTitle" type="text" ng-model="section.title">
      <label class="active white-text" for="sectionTitle">Section Title</label>
    </div> <!-- <p>18 of 34 pts</p> -->
  </div>
  <div class="row" ng-repeat="item in section.items">
    <div class="col s12 m12">
      <div class="card white">
        <div class="card-content black-text">
         <!--  this is a commment for a latest push -->
          <div class="row center">
              <div class="row">
                <div class="input-field col s12">
                  <input id="itemTitle" type="text" ng-model="item.title">
                  <label class="active" for="itemTitle">Item Title</label>
                </div>
                <div class="input-field col s12">
                  <input id="link" type="text" ng-model="item.link">
                  <label class="active" for="link">Link</label>
                </div>
                <div class="input-field col s12">
                  <input id="desc" type="text" ng-model="item.desc">
                  <label class="active" for="desc">Description</label>
                </div>
                <div class="input-field col s12">
                  <input id="comment" type="text" ng-model="item.comment">
                  <label class="active" for="comment">Comment</label>
                </div>
              </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">
  <button class="btn waves-effect waves-light right orange darken-2" ng-click="updateRubric()">Save changes
    <i class="material-icons right">save</i>
  </button>
  </div>
