

<div class="wrapper container">
  <nav class=" cyan darken-3">
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
  <!--========================== ADD COURSE FORM ==========================-->
  <div class="row">
    <div class="col s12 m12">
      <div class="card white">
        <div class="card-content black-text">

        <div class="row">
          <span class="card-title black-text">Add a course</span>
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="courseName" type="text" class="validate">
                <label for="courseName">Course Name</label>
              </div>
              <div class="input-field col s12">
                <input id="courseCode" type="text" class="validate">
                <label for="courseCode">Course Code</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light right" type="submit" name="submit">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>

        </div>
        <!-- <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div> -->
      </div>
    </div>
  </div>


  <!--========================== ADD RUBRIC FORM ==========================-->

  <div class="row">
    <div class="col s12 m12">
      <div class="card white">
        <div class="card-content black-text">
        
        <div class="row">
          <span class="card-title black-text">Add a rubric</span>
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="rubricName" type="text" class="validate">
                <label for="rubricName">Rubric Name</label>
              </div>
              <div class="input-field col s12">
                <input id="sectionTitle" type="text" class="validate">
                <label for="sectionTitle">Section Title</label>
              </div>
              <div class="input-field col s12">
                <input id="gradeOptions" type="text" class="validate">
                <label for="gradeOptions">Grade Options</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light right" type="submit" name="submit">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>

        </div>
      </div>
    </div>
  </div>




  <!--========================== ADD RUBRIC FORM ==========================-->

  <div class="row">
    <div class="col s12 m12">
      <div class="card white">
        <div class="card-content black-text">
        
        <div class="row">
          <span class="card-title black-text">Add an item</span>
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="rubricName" type="text" class="validate">
                <label for="rubricName">Item Name</label>
              </div>
              <div class="input-field col s12">
                <input id="sectionTitle" type="text" class="validate">
                <label for="sectionTitle">Item Title</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">Descrption</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light right" type="submit" name="submit">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>

        </div>
      </div>
    </div>
  </div>


  <!--========================== Floating action button ==========================-->
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large pink accent-3">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>




  <!--========================== table ==========================-->
  <div class="row">
    <div class="col s12 m12">


        <ul class="collection">
          <li class="collection-item avatar">
            <i class="material-icons circle cyan darken-1">WDD</i>
            <!-- <img src="images/yuna.jpg" alt="" class="circle"> -->
            <span class="title">Aesthetics</span>
            <p>33% <br>
               + add item to Aesthetics
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">mode_edit</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle cyan darken-1">WDD</i>
            <!-- <i class="material-icons circle">folder</i> -->
            <span class="title">Logic</span>
            <p>33% <br>
               + add item to Logic
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">mode_edit</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle cyan darken-1">WDD</i>
            <span class="title">Code</span>
            <p>33% <br>
               + add item to Code
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">add</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle cyan darken-1">WDD</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">add</i></a>
          </li>
        </ul>


      </div>
    </div>
  </div>
</div>