
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center cyan-text proheader">Pro Rubrics</h1>
    <div class="row center">
      <h5 class="header col s12 light betterbanner cyan-text">Better than Spreadsheets</h5>
    </div>


    <div class="row center input">
     <a href="/#/addDegree" class="waves-effect waves-light orange darken-1 btn-large"><i class="material-icons left">note_add</i>Add Degree Program</a>
    </div>
    <br><br>
    </div>

    <h5 class="row center cyan-text"> ---- OR ---- </h5>

<!--   	<div class="row homeselection"> -->
<!--       <div class="degreeSelect input-field col s12">
    	  <input type="text" ng-model="search" placeholder="Search for Degree"/>
    	  <div ng-repeat="degree in data | filter:search">
    	    <a class="degreelink fade" href="/#/degree/(( degree.abbr ))">
              <div class="card degreelink">
              <span class="card-title white-text">
              (( degree.title ))
              </span>
              </div></a>
        </div>
      </div> -->



    <!--========================== table ==========================-->
    <div class="wrapper container">
      <div class="row">
        <div class="col s12 m12">


          <div class="input-field">
          <input type="text" ng-model="search">
          <label for="search">Search for a degree</label>
          </div>

            <ul class="collection">
              <a href="/#/degree/(( degree.abbr ))">
                <li class="collection-item avatar" ng-repeat="degree in data | filter:search">
                <i class="material-icons circle cyan">(( degree.abbr ))</i>
                <!-- <img src="images/yuna.jpg" alt="" class="circle"> -->
                <!-- <span class="title">(( degree.title ))</span> -->
                <h5 class="black-text">
                  (( degree.title ))
                </h5>
                <a href="#!" class="secondary-content"><!-- <i class="material-icons">library_books</i> --></a>
              </li></a>
            </ul>

          </div>
        </div>
    </div>


    <br><br>



<!--
  </div> -->
</div>
 <!--  end banner -->
