  <div class="wrapper container">
    <h6 class="cyan-text"><a href="#/degree/((degreeName))"><b>Degree:((degreeName))</a></b> > Create new course</h6>
    <form class="col s12">
    <div class="row center note">
     <!-- <i class="noteadd large material-icons">note_add</i> -->
    </div>
    
    <div class="row center">
      <h1 class="header center cyan-text">Enter a new course for the program</h1>
    </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="degree_name" type="text" class="validate" ng-model="course.title">
          <label for="degree_name">Course Name</label>
        </div>
        <div class="input-field col s6">
          <input id="degree_code" type="text" class="validate" ng-model="course.abbr">
          <label for="degree_code">Course Code</label>
        </div>
      </div>
      <div class="row center input savedegree">
      <button ng-click="insertCourse()" class="waves-effect waves-light orange darken-1 btn-large"><i class="material-icons left">note_add</i>Save Course</button>
     </div>     
  </div>
        