html{

}
body{
	
}
h5{
   font-family: 'Flamenco', sans-serif;	
}
nav{
    color: #00b8d4;
    font-family: 'Asap', sans-serif;
}

footer p{
	font-family: 'Asap', sans-serif;
}

p{
 color:white;
 font-family: 'Asap', sans-serif;	
}

/* ##############  Buttons  #########################*/
.button{
	font-family: 'Asap', sans-serif;
}
.btn-large{
	font-family: 'Asap', sans-serif;
}
.card{
	font-family: 'Flamenco', sans-serif;
	color:white;
}
/*  #########  addcourse page  ##############*/
p.alert{
	color: #FFA500 !important;
}
.one{
	margin-bottom: 10px;
	color:white;
}
.card .card-action a{
	font-family: 'Asap', sans-serif;
	color:white !important;
}
/*####### search card  ########################*/
#search{

	width:200px;
	height:30px;
	border: none;
}
#search .focus{
	border-color: #000;
}
.search-wrapper {
	padding-top: 10px;
	height:50px;
	width:300px;
}
.glass{
	color: #000 !important;
	float: right;
	margin-right: 6px;
}
.header.center.cyan-text.proheader{
	margin-top:0;
	margin-bottom: 0px;
	font-family: 'Flamenco', sans-serif;
}
.betterbanner{
	margin-top: 0px;
}

/*############## Home page add styles  #########*/
.add{
	color: #0097a7;
}
.degreelabel{
	font-weight: bold;
}
.degreeSelect{
	margin-bottom: 67px;
}
.homeselection{
   margin-top:60px;
}
/*add degree page*/
.noteadd{
	color: #0097a7;
}
.note{
	margin-top: 40px;
}
.row.savedegree{
	margin-top:55px;
	margin-bottom: 75px;
}
/*############ degree page ##########################*/
.degreealert{
	font-family: 'Asap', sans-serif;
	font-weight: bold;
	color: #0097a7;
}
.verified{
	color:#0097a7;
}


