
<!-- Search Bar -->
<div class="searchplus">
	
</div>
<!-- end Search Bar -->
 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center cyan-text">Pro Ruberics</h1>
      <div class="row center">
	      <h5 class="header col s12 light">Better than Spreadsheets</h5>
	  </div>
	  <div class="row">
	   <div class="col s6">
	      	<div class="search-wrapper card">
			 <input id="search"></input>
			 <i class="material-icons glass">search</i>
			</div> 
      </div>
      <div class="col s6">
			<a href="/addcourse" id="download-button" class="btn-large waves-effect waves-light green">Add Course</a>
      </div>
      </div>
      <br><br>

    </div>
  </div>
 <!--  end banner -->
<!--  card Section -->
      <div class="row">
        <div class="col s12 m4">
        	<div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">CPM</span>
              <p>Cross Platform Development</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn one" href="#">Hello World App</a>
              <a class="waves-effect waves-light btn one" href="#">New World App</a>
            </div>
          </div>
          
        </div>

        <div class="col s12 m4">
        	<div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">MDD</span>
              <p>Mobile Device Development</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn one" href="#">Master Mobile Project</a>
              <a class="waves-effect waves-light btn one" href="#">Poor Review</a>
              <a class="waves-effect waves-light btn one" href="#">App Marketing Video</a>
            </div>
          </div>
          
        </div>

        <div class="col s12 m4">
        	<div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">SMS</span>
              <p>Streaming Mobile Services</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn one" href="#">Shared Objects</a>
              <a class="waves-effect waves-light btn one" href="#">Mid Term</a>
            </div>
          </div>
          
        </div>
      </div>

<!-- end card Section -->
